#article_rich_body {
  overflow-y: scroll;
  height: 70vh;
}

.title-container {
  text-align: center;

  h4 {
    font-weight: 300;
    margin: 0px 5vw;
  }

  h1 {
    margin: 4vh 0px;
    font-size: 3rem;
  }

  a {
    color: $pink;
    font-family: $headers-font;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.article-main-img {
  margin-top: 4vh;
  display: flex;
  height: 45vh;

  img {
    object-fit: cover;
    width: 100% !important
  }
}

.article-body-container {
  margin: auto;
  text-align: justify;
  margin-top: 5vh;

  h1 {
    text-align: right;
    b, strong {
      color: $pink;
    }
  }

  a {
    color: $pink;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.other-articles {
  a {
    color: $pink;
    font-family: $headers-font;
  }

  .next-and-previous-articles {
    max-width: 40%;
  }
}


#comments-section {
  h4 {
    color: $purple;
    margin: 3vh 0vh
  }
}

.article-comments-index {
  h4 {
    color: $purple;
  }
  .single-comment-container {
    display: flex;
  }

  .name-and-date-coms {
    margin-right: 2vw;
    width: 25%;
    .text-muted {
      font-size: 0.7rem;
    }
  }

  .comment-text {
    width: 75%;
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .article-comments-index  {
    .single-comment-container {
      display: block;
    }
    .name-and-date-coms {
      width: 50%;
    }
    .comment-text {
      width: 100%;
    }
  }
}
