// Specific CSS for your home-page
body {
  background: white;
}

a {
  color: black;
  &:hover {
    color: black;
  }
}
.return-btn {
  font-size: 0.8rem;
  font-family: $headers-font;
  .fa-arrow-left {
    color: $pink;
  }
}
