<h1>All articles</h1>
<hr>
<div>
  <% Article.all.each do |article| %>
    <%= link_to "#{article.title.capitalize}", article_path(article) %>
  <% end %>
</div>

<hr>

<%= link_to 'New Article', new_article_path %>
