<footer class="footer">
  <div class="mt-0 d-flex justify-content-around">
    <div>
      <h6>© 2020 LES PROBLÈMES</h6>
    </div>
    <div class="social-media-footer mx-2">
      <%= link_to "https://www.instagram.com/lesproblemes.co/", target: :blank do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "#", target: :blank do %>
        <i class="fab fa-facebook-f mx-2"></i>
      <% end %>
      <%= link_to "#", target: :blank do %>
        <i class="fab fa-twitter mx-2"></i>
      <% end %>
    </div>
  </div>
</footer>
