<div class="home-carousel mt-4">
  <% Article.all.each do |article| %>
    <div class="article-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.photo.key %>')">
      <div class="article-text">
        <h1><%= link_to "#{article.title}", article_path(article) %></h1>
        <p><%= article.foreword %></p>
        <div class="text-center mt-3">
          <%= link_to "LIS LA SUITE", article_path(article), class:"btn btn-primary carousel-btn"  %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="d-flex row col-sm-12 col-md-11 col-lg-11 mx-auto">
  <div class="home-category-articles col-sm-12 col-md-6 col-lg-4 ">
    <h1>Hello son</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
  </div>
  <div class="home-category-articles col-sm-12 col-md-6 col-lg-4 ">
    <h1>Hello son</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
  </div>
  <div class="home-category-articles col-sm-12 col-md-6 col-lg-4 ">
    <h1>Hello son</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam illum iusto, consequuntur sint, ad commodi, nostrum, minus voluptate obcaecati explicabo provident numquam saepe.</p>
  </div>
</div>
