<div class="home-carousel mt-4">
  <% Article.all.each do |article| %>
    <div class="article-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.photo.key %>')">
      <div class="article-text">
        <h1><%= link_to "#{article.title}", article_path(article) %></h1>
        <p><%= article.foreword %></p>
        <div class="text-center mt-3">
          <%= link_to "LIS LA SUITE", article_path(article), class:"btn btn-primary carousel-btn"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
