<div class="title-container">
  <h1>Le Manifeste des Problèmes</h1>
  <br>
</div>

<div class="manifeste-body col-sm-11 col-md-9 col-lg-9 mx-auto">
  <p><span class="firstcharacter">À</span>en croire le portrait accablant qu’en dressent les médias, intellectuel.le.s et politiques français.e.s, la téléréalité signerait la fin de notre génération. Endemol serait seule responsable des inégalités de genre; les fraté.e.s à l’origine d’un patriarcat cousu main. Mais face à ces accusations, rappelons-nous de la seule intervention pertinente du temps d’antenne de Gabano, et évitons de nous faire emboucaner par la méduse. Du sexisme en téléréalité, il y en a; dans les regards de Paga, les cris de Marvin, et même les conseils de Lucie, la love coach. Ce qui est malhonnête, c’est d’oublier que ces comportements sont tout aussi présents en dehors de ces programmes, si ce n’est plus. Comme si les émissions de téléréalité se tenaient sur une autre planète, en dehors des constructions hétéropatriarcales qui régissent nos sociétés, mais qu’elles se devaient plus exemplaires que le reste du PAF.</p>


  <p>Le féminisme est devenu une excuse pour que certains membres de l’establishment médiatique français, ordinairement si prompts à traiter des questions de genre sur des plateaux quasi exclusivement masculins, puissent taper sur le divertissement low-brow.  En relayant massivement les rapports du Haut Conseil à l’égalité entre les femmes et les hommes, en parodiant de manière méprisantes  les Anges, les Marseillais, les Coeurs Brisés et les Apprentis Aventuriers, ces médias ne prennent pas la peine de cacher leur classisme. Comme une manière de rappeler à l’ordre, de sanctionner une prise de parole qu’ils jugent non-légitime car elle ne leur ressemble pas. En gros : soyez sexistes, mais faites-le avec nos codes.</p>

  <p>Ne pas prendre la téléréalité au sérieux sous prétexte qu’elle est nécessairement misogyne, c’est suggérer que le féminisme ne peut pas exister en dehors des émissions politiques, des chroniques culturelles, des discours experts. Ignorer son importance au sein des dynamiques de genre, c’est simplement se contenter d’idées préconçues sur ce média, la culture et le progrès. Mais nier ses aspects positifs, c’est refuser aux candidat.e.s toute volonté féministe, et ça, c’est intentionnellement classiste.</p>

  <p>A l’heure où dire “y’a le mec à Milla” rassemble plus que la Marseillaise, et où Julien Tanti exerce à lui seul plus d’influence sur les adolescent.e.s français.e.s que le gouvernement, il semble raisonnable de se pencher sur cette question, enfin : quelles sont les normes de genre renforcées par les programmes de téléréalité, et quelles sont celles auxquelles ils résistent?</p>

  <p>Et comme on pense que Maëva a plus à dire sur la sororité, que les journalistes somnifères de l’establishment médiatique, on a créé LES PROBLÈMES pour amplifier la parole des candidat.e.s de téléréalité, dont la légitimité est systématiquement diminuée. Pour comprendre quels sont les messages véhiculés par la téléréalité sur l’identité de genre, les normes de masculinité et de féminité, la sexualité et les relations amoureuses, et nuancer la critique monotone qui est souvent faite de ces programmes. Ce sera enfin l’occasion de mettre à profit les années que nous avons passé à regarder ces émissions en tant que spectatrices assidues, mais aussi à étudier ces problématiques féministes en tant qu’étudiantes investies. Sans prétendre proposer un travail de recherche, ou même des réponses précises, LES PROBLÈMES sera l’opportunité d’ouvrir une discussion structurée sur les aspects constructifs de la téléréalité, et de replacer dans un contexte sociétal ceux qui paraissent plus régressifs. Quitte à parler d’un objet culturel qui fait des records d’audience et a une influence considérable sur les jeunes, prenons le temps de le faire bien.</p>

  <p>En clair, il s’agit de mettre le patriarcat en showtime. Un épisode à la fois, une théorie à la fois, une analyse de Sam Zirah à la fois s’il le faut.</p>

  <p>L’aventure commence maintenant,</p>

  <p>Nina & Alice</p>
</div>
