.navbar {
  padding: 2vh;

  a {
    color: $pink !important;
    font-family: $headers-font;

    &:hover {
      text-decoration: underline;
    }
  }

  .dropdown-menu {
    background: black;
    border-radius: 5px;

    a {
      color: white !important;

      &:hover {
        background: none;
      }
    }
  }

  li.dropdown:hover {
    text-decoration: underline;
  }
}

.navbar-right {
  position: absolute;
  right: 0;
  top: 5%;
}

.navbar-left {
  display: none;
  position: absolute;
  left: 2%;
  top: 5%;
}

a.navbar-brand:hover {
  text-decoration: none !important;
}

.navbar-brand {
  display: flex;

  img {
    height: 7vh;
  }


  p {
    margin: auto;
    font-size: 0.8rem;
    color: $gray;

  }

  .logo-text {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
  .logo-text{display: flex !important;}
  .navbar .collapse{justify-content: flex-end !important;}
  .navbar .navbar-left{display: flex !important;}
  .navbar .navbar-right{display: none;}
}


@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .coms-and-date {
    display: block !important;
    text-align: center;

    p{
      margin-bottom: 5px;
    }
  }
}








